<!DOCTYPE html>
<html ng-app = "VKAdmin">

<head>
	<script type="text/javascript" src = "js/jquery-2.1.3.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-file-upload.js"></script>
	<script type="text/javascript" src = "js/angular-cookies.js"></script>
	<script type="text/javascript" src = "js/vk_api.js"></script>
	<script type="text/javascript" src = "js/app.js"></script>

	<title></title>
</head>
<body >
	<div ng-controller = "StatisticsController"> </div>

	<!-- Posting section begin -->
	<div ng-controller = "PostingController" ng-init = "init()">

		<p>{{error.message}}</p>

		<!-- Group Selection begin -->
		<label>Select group:</label>
		<br>
		<select ng-model="currentGroup.group" ng-options="group as group.name for group in groups">
		</select>
		<br>
		<textarea ng-model = "postText" required></textarea>
		<br>
		<!-- Group Selection end -->

		<!-- File upload -->
		<input type="file" id="uploader" nv-file-select uploader="uploader" ng-click="resolveUploadURL()"/><br/>
		<ul>
			<li ng-repeat="item in uploader.queue">
				Name: <span ng-bind="item.file.name"></span><br/>
				<button ng-click="item.upload()">upload</button>
			</li>
		</ul>
		<!-- File upload end -->

		<!-- Video upload begin -->
		URL:<input type="text" ng-model="youtubeUrl"/>
		Name:<input type="text" ng-model="youtubeName"/>
		Description:<input type="text" ng-model="youtubeDescription"/>
		<button ng-click="uploadVideo()">Upload video from youtube</button> 

		<ul>
			<li ng-repeat="video in videos">
				{{video.name}} <a href="#" ng-click="deleteVideo($index)">x</a>
			</li>
		</ul>

		<!-- Video upload end -->
		<br>
		<label>
			<input type="checkbox" ng-model = "fromGroup"/>From group?
		</label>
		<a href="#" ng-click = "post()">Post</a>
	</div>
	<!-- Postring section end -->

	<!-- Wall section begin -->
	<div ng-controller = "WallController">

		<a href="#" ng-click="getPosts()">Show posts</a> 
		<ul>
			<li ng-repeat = "post in posts">
				<!-- Restore deleted post begin -->
				<div ng-show="post.deleted">
					The post have been deleted. <a href="#" ng-click="restorePost($index)">Restore?</a>
				</div>
				<!-- Restore deleted post end -->
				<div ng-show="!post.deleted"> 

					<!-- Post data begin -->
					<img ng-src="{{post.owner.photo}}"/>
					<p>{{post.owner.first_name+post.owner.name}} {{post.owner.last_name}}</p>
					<div ng-bind="post.text">
					</div>
					<!-- Post data end -->
					<!-- Post editing controls begin -->
					<div ng-show = "post.editing">
						<textarea ng-model="post.text"></textarea>
						<a href="#" ng-click="editPost(post.text, $index)">Confirm</a>
						<a href="#" ng-click="cancelEdit($index)">Cancel</a>
					</div>
					<!-- Post editing controls end -->
					<!-- Post controls begin -->
					<a href="#" ng-click="beginEdit($index)" ng-show = "post.can_edit&&!post.editing">Edit</a>
					<a href="#" ng-click="deletePost($index)" ng-show = "post.can_delete">Delete Post</a>
					<a href="#" ng-click="getComments($index)">Show Comments</a>
					<a href="#" ng-click="hideComments($index)">Hide Comments</a>
					<!-- Post controls end -->

					<!-- Comments section begin-->
					<div ng-show = "post.commentsShow">
						<ul>
							<li ng-repeat="comment in post.comments">
								<div ng-show="!(comment.deleted||comment.editing)">
									<!-- Comment data section begin -->
									<img ng-src="{{comment.owner.photo_50}}"/>
									<p>{{comment.owner.name}} {{comment.owner.first_name}} {{comment.owner.last_name}} </p>
									<div ng-bind="comment.text"> </div>
									<!-- Comment data section end -->

									<!-- Comment edit section begin -->
									<div ng-show = "comment.editing">
										<textarea ng-model="comment.text"></textarea>
										<a href="#" ng-click="editComment(comment.id, comment.text, $parent.$index, $index)" >Confirm</a>
										<a href="#" ng-click="cancelEdit($parent.$index,$index)">Cancel</a>
									</div>
									<!-- Comment edit section end -->

									<!-- Comment control secton begin -->
									<a href="#" ng-click="beginEditComment($parent.$index,$index)" ng-show = "comment.can_edit">Edit</a>
									<a href="#" ng-click="deleteComment(comment.id, $parent.$index ,$index); getComments($parent.$index)">Delete Comment</a>
									<a href="#" ng-click="beginReply(comment.id, $parent.$index)" ng-show = "true">Reply</a>
									<!-- Comment control secton begin -->
								</div>
								<!-- Comment deleted message begin -->
								<div ng-show="comment.deleted">
									Comment has been deleted. <a href="#" ng-click="restoreComment(comment.id, $parent.$index ,$index)">Restore?</a>
								</div>
								<!-- Comment deleted message end -->
							</li>
						</ul>
						<!-- Add comment section begin -->
						<textarea ng-model="commentText" id="commentText{{$index}}"></textarea>
						<a href="#" ng-click="addComment($index, commentFromGroup ? 1 : 0 , commentText, replyTo)" >Add Comment</a>
						<label>
							<input type="checkbox" ng-model = "commentFromGroup"/>From group?
						</label>
						<a href="#" ng-click="getComments(post.id, $index)">Show more comments </a>
						<!-- Add comment section end -->
					</div>
					<!-- Comments section end -->
				</div>
				
			</li>
		</ul>
	</div>
	<a href="#" ng-click="getPosts()">Show more posts</a>
	<!-- Wall section end -->
</body>
</html>